@font-face {
    font-family: 'Journal Regular';
    src: url('/blog-assets/fonts/journal-regular/journal-webfont.eot');
    src: url('/blog-assets/fonts/journal-regular/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('/blog-assets/fonts/journal-regular/journal-webfont.woff') format('woff'),
         url('/blog-assets/fonts/journal-regular/journal-webfont.ttf') format('truetype'),
         url('/blog-assets/fonts/journal-regular/journal-webfont.svg#journalregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
