header.banner {
  position: relative;
}

header.banner img {
  width: 100% !important;
  height: auto !important;
}

header.banner h1 {
  font-family: 'Version Type', sans-serif;
  font-size: 8em;
  letter-spacing: 6px;
  text-align: center;
  /*color: #95D7FF;*/
  color: aquamarine;
  text-shadow: 6px 6px 7px #1f1f1f;

  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
