@charset "UTF-8";

/* base font family */
$base-font-family: 'Open Sans', sans-serif;

/* all the blah blahs */
// $text-color:       #2c8e94;
// $text-color:       #ceeab0;
	 $text-color:       #6fa6e2;

/* background color of the website */
$background-color: #1f1f1f;

/* applied on the little date below the heading */
$grey-color:       #5785a9;

/* applied on links */
$brand-color:      #aae6ff;

/* applied to the small line on top of the content */
$grey-color-dark:  #62d0d4;

/* applied to the small line at the bottom of the content */
$grey-color-light: #d462d4;

/* color of all the code inside code tags */
$code-color:  #a9d21e;

/* background of all code inside code tags */
$code-background:  #331527;
