@charset "UTF-8";

/* all the blah blahs */
$text-color:       #2c8e94;

/* background color of the website */
$background-color: #1f1f1f;

/* applied on the little date below the heading */
$grey-color:       #5785a9;

/* applied on links */
$brand-color:      #aae6ff;

/* applied to the small line on top of the content */
$grey-color-dark:  #62d0d4;

/* applied to the small line at the bottom of the content */
$grey-color-light: #d462d4;
