<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="og:description" content="{{ page.description }}">
    <title>Bl0g of Harish - {{ page.title }}</title>
    <link rel="stylesheet" href="/blog-assets/styles/main.css">
  </head>
  <body>
    <header class="banner" role="banner">
      <img src="/blog-assets/images/header.png" width="1600" height="384" alt="">
      <h1>CODE DIARIES</h1>
    </header>
    <nav role="navigation">
      <div class="container">
        <ul>
          <li><a href="/">Bl0g home</a></li>
          <li><a href="/about.html">About Blenderous</a></li>
        </ul>
      </div>
    </nav>
    <main role="main">
      <div class="container">
        <div class="pure-g">
          <div class="pure-u-md-3-5">
            {{ content }}
          </div>
        </div>
      </div>
    </main>
    <footer role="contentinfo">
      <div class="container">
        Imagined and coded by
        <a target="_blank" href="https://twitter.com/blenderous"
        title="Open Twitter Profile of Harish (In a new tab)">
          @blenderous
        </a>
      </div>
    </footer>
  </body>
</html>
