<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="og:description" content="{{ page.description }}">
    <title>Bl0g of Harish - {{ page.title }}</title>
    <link rel="stylesheet" href="/blog-assets/styles/main.css">
  </head>
  <body>
    <header role="banner">
      <h1>Bl0g</h1>
      <nav role="navigation">
        <ul>
          <li><a href="/">Bl0g home</a></li>
          <li><a href="/about.html">About Blenderous</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
      {{ content }}
    </main>
    <footer role="contentinfo">Imagined and coded by <a target="_blank" href="https://twitter.com/blenderous" title="Open Twitter Profile of Harish (In a new tab)">@blenderous</a></footer>
  </body>
</html>
